<div class="container_12">
  <div class="padding_1"></div>
  <h1 onclick="javascript:window.location.href='/'">David Hofmann<span id="motto">Director of photography</span></h1>
</div>
<!--
<div class="container_12">
  <div class="padding_1"></div>
  <div class="grid_12 center menu">

    <ul>
      {% for category in site.categories %}
      {% capture categoryName %}{{ category | first }}{% endcapture %}
      <li>
        <a href="/{{ categoryName }}"
           {% if page.category == categoryName %}style="font-weight: bold"{% endif %}>
          {{ categoryName }}
        </a>
      </li>
      {% if forloop.last %}{% else %}<li class="sep">/</li>{% endif %}
      {% endfor %}

    </ul>
  </div>
</div>
-->
      <!--<div class="trigger">-->
        <!--{% for my_page in site.pages %}-->
          <!--{% if my_page.title %}-->
          <!--<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>-->
          <!--{% endif %}-->
        <!--{% endfor %}-->
      <!--</div>-->
