<div class="container_12">
  <div class="padding_1"></div>
  <h1>David Hofmann<span id="motto">Director of photography</span></h1>
</div>
<div class="container_12">
  <div class="padding_1"></div>
  <div class="grid_12 center menu">
    <ul>
      <li><a href="">Commercials</a></li>
      <li class="sep">/</li>
      <li><a href="">Music videos</a></li>
      <li class="sep">/</li>
      <li><a href="">Fashion videos</a></li>
      <li class="sep">/</li>
      <li><a href="">Shortfilms</a></li>
      <li class="sep">/</li>
      <li><a href="">Photography</a></li>
    </ul>
  </div>
</div>

      <!--<div class="trigger">-->
        <!--{% for my_page in site.pages %}-->
          <!--{% if my_page.title %}-->
          <!--<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>-->
          <!--{% endif %}-->
        <!--{% endfor %}-->
      <!--</div>-->
